* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 25px;
  }
}
body {
  font-family: "Satoshi", sans-serif;
}

h2, h3 {
  letter-spacing: -0.5px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4.8rem;
  padding: 0 1.25rem;
}

.nav-left {
  display: flex;
  align-items: center;
}
.nav-left img {
  width: 2.25rem;
}
.nav-left h2 {
  margin: 0 0 0 0.4rem;
  font-size: 1.31rem;
  font-weight: 500;
  color: #B6D04C;
}

.menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 1.25rem;
  width: 2.3rem;
  height: 2.3rem;
  z-index: 600;
  border-radius: 50%;
  background: #fff;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.17);
}

.line {
  width: 1rem;
  height: 2px;
  position: relative;
  background: #454545;
  border-radius: 3rem;
}
.line::before, .line::after {
  content: "";
  width: 1rem;
  height: 2px;
  right: 0;
  position: absolute;
  background: #454545;
  border-radius: 3rem;
  transition: 300ms ease;
}
.line::before {
  top: -5px;
}
.line::after {
  bottom: -5px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  position: fixed;
  padding: 0 0 6.4rem 2.9rem;
  top: 0;
  right: -100%;
  z-index: 500;
  background: #0a0a0a;
  transition: 350ms ease;
}
.menu ul {
  margin: 5.5rem 0 0 0;
}
.menu ul li {
  margin: 0.9rem 0 0 0;
  font-size: 1.7rem;
  font-weight: 600;
  list-style-type: none;
}
.menu ul a {
  color: #fff;
  text-decoration: none;
}

.nav-cta {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.58rem 1.75rem;
  font-size: 1.3rem;
  font-weight: 600;
  list-style-type: none;
  color: #000;
  text-decoration: none;
  background: #fff;
  border-radius: 4rem;
}

.menu-open {
  right: 0;
}

.landing {
  padding: 8.7rem 1.25rem 0 1.25rem;
}
.landing h1 {
  font-size: 3.15rem;
  font-weight: 1000;
  color: #1B1B1B;
  letter-spacing: -0.13rem;
  line-height: 96.5%;
  white-space: nowrap;
}
.landing h1 span {
  display: block;
  position: relative;
}
.landing h1 span::before, .landing h1 span::after {
  content: "";
  width: 2rem;
  height: 4px;
  position: absolute;
  border-radius: 4rem;
  background: #B6D04C;
  opacity: 55%;
}
.landing h1 span::before {
  bottom: 0.35rem;
  right: 5.6rem;
}
.landing h1 span::after {
  width: 1.31rem;
  bottom: 0.85rem;
  right: 6.29rem;
}

.landing-locations {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 1.8rem 1.5rem 1.8rem;
  margin: 0.86rem 0 0 0;
  width: 100%;
  height: 14.69rem;
  position: relative;
}
.landing-locations h3 {
  font-size: 1.5rem;
  font-weight: 900;
  color: #fff;
  line-height: 116.5%;
}
.landing-locations img {
  width: 3.13rem;
  height: 3.13rem;
}
.landing-locations::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 0.81rem;
  background-size: cover;
  background-position: center center;
  background-image: url("../media/images/landingLocations.jpg");
  filter: brightness(0.62);
}

.landing-trainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.8rem 0 1.8rem;
  margin: 0.46rem 0 0 0;
  width: 100%;
  height: 4.81rem;
  position: relative;
}
.landing-trainer h3 {
  font-size: 1.5rem;
  font-weight: 900;
  color: #fff;
  line-height: 116.5%;
}
.landing-trainer img {
  width: 3.13rem;
  height: 3.13rem;
}
.landing-trainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 0.81rem;
  background-size: cover;
  background-position: center center;
  background-image: url("../media/images/landingTrainer.jpg");
  filter: brightness(0.5);
}

.wwd {
  padding: 8rem 1.25rem 0 1.25rem;
}
.wwd h2 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 118%;
}
.wwd p {
  margin: 1.05rem 0 0 0;
  font-size: 1.06rem;
  font-weight: 400;
  color: #575757;
}

.programs {
  padding: 8.8rem 1.25rem 0 1.25rem;
}
.programs h2 {
  margin: 0 0 1.2rem 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 118%;
}

.program {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.6rem 0 1.6rem;
  margin: 0.45rem 0 0 0;
  width: 100%;
  height: 6.5rem;
  position: relative;
}
.program h3 {
  margin: 0 4rem 0 0;
  font-size: 1.265rem;
  font-weight: 700;
  color: #fff;
  line-height: 116.5%;
}
.program img {
  width: 3.13rem;
  height: 3.13rem;
}
.program::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 1rem;
  background-size: cover;
  background-position: center center;
  background-image: url("../media/images/programsWeights.jpg");
  filter: brightness(0.38);
}
.program:nth-child(2)::before {
  background-image: url("../media/images/programsCardio.jpg");
}
.program:last-child::before {
  background-image: url("../media/images/programsCore.jpg");
}

.whyus {
  padding: 8.7rem 1.25rem 0 1.25rem;
}
.whyus h2 {
  margin: 0 4rem 0 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 118%;
}

.reasons {
  width: 100%;
  padding: 2.63rem 0 2.63rem 1.69rem;
  margin: 1.03rem 0 0 0;
  background: #F9F9F9;
  box-shadow: 0px 4px 62px 0px rgba(0, 0, 0, 0.19);
  border-radius: 1.75rem;
}

.reason {
  display: flex;
  margin: 2.5rem 0 0 0;
}
.reason:first-child {
  margin: 0;
}
.reason:nth-child(2) .illustration {
  background: #E4F5BE;
}
.reason:nth-child(2) h3 {
  color: #B6D04C;
}
.reason:last-child .illustration {
  background: #F5DBDB;
}
.reason:last-child h3 {
  color: #BD9091;
}

.illustration {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 4.31rem;
  height: 4.31rem;
  border-radius: 50%;
  background: #FABDD2;
}

.reason-content {
  padding: 0 0 0 0.88rem;
}
.reason-content h3 {
  font-size: 1.22rem;
  color: #A05C78;
}
.reason-content p {
  margin: 0.2rem 2rem 0 0;
  font-size: 0.95rem;
  color: #5B6276;
}

.pricing {
  padding: 8.5rem 1.25rem 0 1.25rem;
}

.option {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px #262626 solid;
  padding: 0.75rem 0;
}
.option:first-child h3 {
  margin: 0 4rem 0 0;
}
.option:first-child h3::before {
  content: "$15.00";
  position: absolute;
  right: 1.2rem;
  margin: 0.5rem 0 0 0;
  font-size: 0.875rem;
  font-weight: 700;
  color: #B6D04C;
  letter-spacing: -0.63px;
}
.option:nth-child(2) h3::before {
  content: "$40.00";
  position: absolute;
  right: 2.25rem;
  margin: 0.5rem 0 0 0;
  font-size: 0.875rem;
  font-weight: 700;
  color: #B6D04C;
  letter-spacing: -0.63px;
}
.option:last-child h3::before {
  content: "$600.00";
  position: absolute;
  right: 4.6rem;
  margin: 0.5rem 0 0 0;
  font-size: 0.875rem;
  font-weight: 700;
  color: #B6D04C;
  letter-spacing: -0.63px;
}
.option h3 {
  position: relative;
  font-size: 2.44rem;
  color: #262626;
  font-weight: 1000;
  line-height: 96.5%;
  letter-spacing: -1.755px;
}
.option img {
  width: 4.94rem;
  height: 4.94rem;
  filter: drop-shadow(0px 4px 83px rgba(0, 0, 0, 0.4));
}

#discount1::before {
  background-image: url("../media/images/discountISIC.jpg");
}

#discount2::before {
  background-image: url("../media/images/discountSeason.jpg");
}

.footer {
  width: 100%;
  padding: 3.68rem 1.08rem;
  margin: 8.8rem 0 0 0;
  background: #111111;
}
.footer ul {
  margin: 3rem 0 0 0;
}
.footer li {
  margin: 0.42rem 0 0 0;
  list-style: none;
  font-size: 1.13rem;
}
.footer li, .footer a {
  color: #888888;
  text-decoration: none;
}
.footer #footer-highlighted {
  font-size: 1.25rem;
  color: #fff;
  font-weight: 500;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 3.75rem 0;
  position: relative;
}
.footer-top::before {
  content: "";
  position: absolute;
  width: 67%;
  height: 1.5px;
  left: -1.08rem;
  bottom: -1.2rem;
  background: #313131;
}
.footer-top img {
  width: 4rem;
  height: 4rem;
}
.footer-top h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: 1000;
  line-height: 96.8%;
  letter-spacing: -1.44px;
  text-transform: uppercase;
  white-space: nowrap;
}
.footer-top h2 span {
  display: block;
}

.footer-copyright {
  margin: 10rem 0 0 0;
  font-size: 1.125rem;
  color: #888888;
  font-weight: 400;
}
.footer-copyright span {
  color: #fff;
}

.nav-links {
  display: none;
}

.nav-links-cta {
  display: none;
}

.landing-trainer-title2 {
  display: none;
}

@media all and (min-width: 1025px) {
  h2, h3 {
    letter-spacing: -0.5px;
  }
  .nav-cont {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1268px;
    height: 5.3rem;
    padding: 0 2.4rem;
  }
  .nav-left {
    display: flex;
    align-items: center;
  }
  .nav-left img {
    width: 2.25rem;
  }
  .nav-left h2 {
    margin: 0 0 0 0.4rem;
    font-size: 1.31rem;
    font-weight: 500;
    color: #B6D04C;
  }
  .nav-links {
    display: initial;
  }
  .nav-links li {
    display: inline;
    padding: 0 0.79rem;
    list-style-type: none;
    font-weight: 500;
    color: #262626;
  }
  .nav-links li:hover > a {
    color: #8b8bad;
  }
  .nav-links a {
    color: #262626;
    text-decoration: none;
    transition: 220ms ease;
  }
  .nav-links-cta {
    display: initial;
    padding: 0.47rem 1.3rem;
    border-radius: 4rem;
    background: #B6D04C;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    font-size: 0.97rem;
  }
  .menu-icon {
    display: none;
  }
  .line {
    width: 1rem;
    height: 2px;
    position: relative;
    background: #454545;
    border-radius: 3rem;
  }
  .line::before, .line::after {
    content: "";
    width: 1rem;
    height: 2px;
    right: 0;
    position: absolute;
    background: #454545;
    border-radius: 3rem;
    transition: 300ms ease;
  }
  .line::before {
    top: -5px;
  }
  .line::after {
    bottom: -5px;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    position: fixed;
    padding: 0 0 6.4rem 2.9rem;
    top: 0;
    right: -100%;
    z-index: 500;
    background: #0a0a0a;
    transition: 350ms ease;
  }
  .menu ul {
    margin: 5.5rem 0 0 0;
  }
  .menu ul li {
    margin: 0.9rem 0 0 0;
    font-size: 1.7rem;
    font-weight: 600;
    list-style-type: none;
  }
  .menu ul a {
    color: #fff;
    text-decoration: none;
  }
  .nav-cta {
    width: -moz-fit-content;
    width: fit-content;
    padding: 0.58rem 1.75rem;
    font-size: 1.3rem;
    font-weight: 600;
    list-style-type: none;
    color: #000;
    text-decoration: none;
    background: #fff;
    border-radius: 4rem;
  }
  .menu-open {
    right: 0;
  }
  .landing-cont {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  .landing {
    width: 1268px;
    padding: 7.2rem 2.4rem 0 2.4rem;
  }
  .landing h1 {
    margin: 0 0 1.3rem 14rem;
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 6.5rem;
    font-weight: 1000;
    color: #1B1B1B;
    letter-spacing: -0.27rem;
    line-height: 93%;
    white-space: nowrap;
  }
  .landing h1 span {
    display: block;
    position: relative;
  }
  .landing h1 span::before, .landing h1 span::after {
    content: "";
    width: 4.7rem;
    height: 0.67rem;
    position: absolute;
    border-radius: 4rem;
    background: #B6D04C;
    opacity: 40%;
  }
  .landing h1 span::before {
    bottom: 0.52rem;
    right: 9rem;
  }
  .landing h1 span::after {
    width: 2.4rem;
    bottom: 1.55rem;
    right: 11.39rem;
  }
  .landing-illustrations {
    display: grid;
    grid-template-columns: 59% 39.5%;
    justify-content: space-between;
  }
  .landing-locations {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 2.2rem 1.9rem 2.2rem;
    margin: 0;
    width: 100%;
    height: 20.5rem;
    position: relative;
  }
  .landing-locations h3 {
    margin: 0 50% 0 0;
    font-size: 1.71rem;
    font-weight: 900;
    color: #fff;
    line-height: 116.5%;
  }
  .landing-locations img {
    width: 3.8rem;
    height: 3.8rem;
  }
  .landing-locations::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 0.81rem;
    background-size: cover;
    background-position: center center;
    background-image: url("../media/images/landingLocations.jpg");
    filter: brightness(0.65);
  }
  .landing-trainer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 2.2rem 1.9rem 2.2rem;
    margin: 0;
    width: 100%;
    height: 20.5rem;
    position: relative;
  }
  .landing-trainer h3 {
    margin: 0 28% 0 0;
    font-size: 1.71rem;
    font-weight: 900;
    color: #fff;
    line-height: 116.5%;
  }
  .landing-trainer img {
    width: 3.8rem;
    height: 3.8rem;
  }
  .landing-trainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 0.81rem;
    background-size: cover;
    background-position: center center;
    background-image: url("../media/images/landingTrainer.jpg");
    filter: brightness(0.5);
  }
  .landing-trainer-title1 {
    display: none;
  }
  .landing-trainer-title2 {
    display: initial;
  }
  .option-day-pass2 {
    display: none;
  }
  .wwd-cont {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  .wwd {
    display: grid;
    grid-template-columns: 37.5% 60%;
    justify-content: space-between;
    width: 1268px;
    padding: 8rem 2.4rem 0 9.4rem;
  }
  .wwd h2 {
    margin: 0 0 0 0;
    font-size: 2.15rem;
    font-weight: 700;
    line-height: 118%;
  }
  .wwd p {
    margin: 0 13rem 0 0;
    font-size: 1.1rem;
    font-weight: 400;
    color: #575757;
  }
  .programs-cont {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  .programs {
    width: 1268px;
    padding: 8.8rem 2.4rem 0 2.4rem;
  }
  .programs h2 {
    margin: 0 0 1.2rem 0;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 118%;
  }
  .program {
    display: grid;
    grid-template-columns: 23% 0%;
    align-items: flex-end;
    justify-content: initial;
    padding: 0 2.2rem 2rem 2.31rem;
    margin: 0.9rem 0 0 0;
    width: 100%;
    height: 12.9rem;
    position: relative;
  }
  .program h3 {
    margin: 0 0 0 0;
    font-size: 1.82rem;
    font-weight: 700;
    color: #fff;
    line-height: 116.5%;
  }
  .program img {
    margin: 0 0 -0.3rem 0.2rem;
    width: 4.3rem;
    height: 4.3rem;
  }
  .program::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 2rem;
    background-size: cover;
    background-position: center center;
    background-image: url("../media/images/programsCardio.jpg");
    filter: brightness(0.39);
  }
  .program:nth-child(2)::before {
    background-image: url("../media/images/programsWeights.jpg");
  }
  .program:last-child::before {
    background-image: url("../media/images/programsCore.jpg");
  }
  .program-cta1 {
    margin: 0 0 0 -1.5rem;
  }
  .program-cta2 {
    margin: 0 0 0 1.43rem;
  }
  .whyus-cont {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  .whyus {
    display: grid;
    grid-template-columns: 20% 77.5%;
    justify-content: space-between;
    width: 1268px;
    padding: 13rem 2.4rem 0 2.4rem;
  }
  .whyus h2 {
    margin: 0 0 0 0;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 118%;
  }
  .reasons {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    align-items: initial;
    width: 100%;
    padding: 2.4rem 2.9rem;
    margin: 0rem 0 0 0;
    background: #F9F9F9;
    box-shadow: 0px 4px 62px 0px rgba(0, 0, 0, 0.19);
    border-radius: 1.75rem;
  }
  .reason {
    display: flex;
    flex-direction: column;
    margin: 0rem 0 0 0;
  }
  .reason:first-child {
    margin: 0;
  }
  .reason:nth-child(2) .illustration {
    background: #E4F5BE;
  }
  .reason:nth-child(2) h3 {
    color: #373D50;
  }
  .reason:last-child .illustration {
    background: #F5DBDB;
  }
  .reason:last-child h3 {
    color: #373D50;
  }
  .illustration {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 3.65rem;
    max-width: 3.65rem;
    height: 3.65rem;
    border-radius: 50%;
    background: #FABDD2;
  }
  .illustration img {
    transform: scale(0.8);
  }
  .reason-content {
    padding: 0 0 0 0rem;
  }
  .reason-content h3 {
    margin: 0.566rem 0 0 0;
    font-size: 1.34rem;
    color: #373D50;
  }
  .reason-content p {
    margin: 0.35rem 2rem 0 0;
    font-size: 0.985rem;
    color: #5B6276;
  }
  .pricing-cont {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  .pricing {
    width: 1268px;
    padding: 12.3rem 2.4rem 0 2.4rem;
  }
  .option {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px #262626 solid;
    padding: 1.4rem 0;
  }
  .option:first-child h3 {
    margin: 0 4rem 0 -5px;
  }
  .option:first-child h3::before {
    content: "$15.00";
    position: absolute;
    right: -4.35rem;
    margin: 1.52rem 0 0 0;
    font-size: 1.25rem;
    font-weight: 600;
    color: #B6D04C;
    letter-spacing: -0.63px;
  }
  .option:nth-child(2) h3::before {
    content: "$40.00";
    position: absolute;
    right: -4.35rem;
    margin: 1.58rem 0 0 0;
    font-size: 1.25rem;
    font-weight: 600;
    color: #B6D04C;
    letter-spacing: -0.63px;
  }
  .option:last-child h3::before {
    content: "$600.00";
    position: absolute;
    right: -5.25rem;
    margin: 1.7rem 0 0 0;
    font-size: 1.25rem;
    font-weight: 600;
    color: #B6D04C;
    letter-spacing: -0.63px;
  }
  .option h3 {
    position: relative;
    font-size: 5.25rem;
    color: #262626;
    font-weight: 1000;
    line-height: 96.5%;
    letter-spacing: -1.755px;
  }
  .option img {
    width: 5.15rem;
    height: 5.15rem;
    filter: drop-shadow(0px 4px 83px rgba(0, 0, 0, 0.6));
  }
  .option-day-pass1 {
    display: none;
  }
  .option-day-pass2 {
    display: initial;
  }
  .discounts-cont {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  .discounts {
    width: 1268px;
    margin: 4rem 0 0 0;
  }
  #discount1::before {
    background-image: url("../media/images/discountISIC.jpg");
  }
  #discount2::before {
    background-image: url("../media/images/discountSeason.jpg");
  }
  .commitment-cont {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  .commitment {
    grid-template-columns: 35% 60%;
    width: 1268px;
    margin: 4rem 0;
  }
  .footer-cont {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 8.8rem 0 0 0;
    background: #111111;
  }
  .footer-d {
    display: flex;
  }
  .footer {
    width: 1268px;
    padding: 9.2rem 2.4rem 3.68rem 2.4rem;
    margin: initial;
  }
  .footer ul {
    margin: 0.4rem 0 0 10rem;
  }
  .footer ul:first-child {
    margin: 0.4rem 0 0 0;
  }
  .footer li {
    margin: 0.8rem 0 0 0;
    list-style: none;
    font-size: 1.13rem;
  }
  .footer li, .footer a {
    color: #888888;
    text-decoration: none;
  }
  .footer #footer-highlighted {
    font-size: 1.25rem;
    color: #fff;
    font-weight: 500;
  }
  .footer-top {
    display: flex;
    align-items: center;
    justify-content: initial;
    width: 100%;
    margin: 0 0 3.75rem 0;
    position: initial;
  }
  .footer-top::before {
    content: "";
    position: absolute;
    width: 77%;
    height: 1.5px;
    left: 0;
    margin: 15.7rem 0 0 0;
    bottom: initial;
    background: #313131;
  }
  .footer-top img {
    margin: 0 0 0 3.8rem;
    width: 10.5rem;
    height: 10.5rem;
  }
  .footer-top h2 {
    color: #fff;
    font-size: 5.8rem;
    font-weight: 1000;
    line-height: 96.8%;
    letter-spacing: -2.5px;
    text-transform: uppercase;
    white-space: nowrap;
  }
  .footer-top h2 span {
    display: block;
  }
  .footer-links {
    display: flex;
  }
  .footer-copyright {
    margin: 10rem 0 0 0;
    font-size: 1.125rem;
    color: #888888;
    font-weight: 400;
  }
  .footer-copyright span {
    color: #fff;
  }
}/*# sourceMappingURL=style.css.map */